<% provide(:title, "Clubs") %>
<h1>Premier League Clubs</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="clubs-grid">
      <% @clubs.each do |club| %>
        <div class="club-card card mb-3">
          <div class="card-body text-center">
            <%= link_to club_path(club), class: "text-decoration-none text-dark" do %>
              <% if club.crest_url.present? %>
                <%= image_tag club.crest_url, alt: club.name, class: "club-crest mb-2" %>
              <% else %>
                <%# <%= image_tag "no_image.png", alt: "No Image", class: "club-crest mb-2" %>
              <% end %>
              <h5 class="card-title"><%= club.name %></h5>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <%= will_paginate @clubs %>
  </div>
</div>